<h1 class="header">Playlister</h1>
<h3 class='blurb'>Playlister generates a Spotify playlist based on the favorite tracks of everyone on your guestlist, so you can play music everyone will enjoy</h3>
<%= link_to 'Sign in with Spotify', '/auth/spotify', class: "button" %>

