<h1 class="event-specific-name"><%= @event.name %></h1>
<%# link_to("SYNC", :controller => :events, :action => :sync) unless @event.guests.include? current_user%>
<div class="js-event" data-id="<%= @event.id%>">
  
</div>

<h2 class="playlist-data">Playlist Data</h2>
<table class="js-playlist-data">
  <tr>
      <th> Song Name </th>
      <th> Request Count </th>
    </tr> 
</table>
