/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  vertical-align: middle;
  box-sizing: border-box;
}
body.users-new { 
  background: url("dj.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  background-color: #181818;
  color: #E0E0E0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

div.event {
  background-color: #282828;
  position: relative;
  margin: 0 auto;
  height: 150px;
  padding: 1em;
  border-radius: 15px;
}

h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}

h1, h2 {
  font-weight: 500;
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

p.event-date {
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  text-align: right;
}

span {
  display: inline-block;
}

ol, ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
  padding: 0.3em;
  border: 0;
  outline: 0;
  text-align: left;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  border-collapse: collapse;
}

th {
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
}
.divider{
    position:absolute;
    left:50%;
    top:20%;
    bottom:20%;
    border-left:1px solid white;
}

.rsvp {
  text-align: center;
  padding: 1em;
}

.event-name {
  font-size: 1.3em;
  text-decoration: underline;
  margin-bottom: 0.6em;
}

.event-details p {
  margin-top: 0;
  margin-bottom: 0.35em;
  text-align: left;
}

a, a:visited {
  text-decoration: none;
  color: #E0E0E0;
}

a:hover {
  color: #FFFFFF;
}

p {
  margin: .9em 0;
}

.playlist-data {
  font-size: 2.5em;
}

hr {
  margin: 2em;
}

h1.home-header {
  font-size: 4.5em;
  margin-bottom: 0.3em;
  margin-top: 1em;
}

h2.my-events {
  text-align: left;
  font-size: 2.5em;
}  

h1.event-specific-name {
  margin-top: 1em;
}

/* must have mixins: respond-to(mobile), vertical center, top-x/bottom-x */



