h3.event-form-header{
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 1.4em;
}

input {
  width: 80%;
  border: none;
  border-bottom: 2px solid #E0E0E0;
  font-size: 1em;
  margin-bottom: 0.3em;
  background-color: #282828;
  color: #E0E0E0;
}

  div.create-event-button {
    height: 100%;
    display: flex;
    align-items: center;
  }

  input[type=date]:invalid::-webkit-datetime-edit {
      color: #E0E0E0;
  }

  input[type=submit] {
      width: 60%;
      height: 2.5em;
      margin: 0 auto;
      display: block;
      vertical-align: middle;
      padding:5px 15px; 
      background:#2D087E; 
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px; 
  }

  .create-event-button {
    font-weight: 600;
    color: #E0E0E0;
  }

input[type=submit].create-event-button:hover {
  border: 2px solid #E0E0E0;
}
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
  ::-webkit-input-placeholder {
     color: #E0E0E0;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #E0E0E0;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #E0E0E0;  
  }

  :-ms-input-placeholder {  
     color: #E0E0E0;  
  }
textarea:focus, input:focus{
    outline: none;
}
::-webkit-datetime-edit-text { color: #E0E0E0; }
::-webkit-datetime-edit-month-field { color: #E0E0E0; }
::-webkit-datetime-edit-day-field { color: #E0E0E0; }
::-webkit-datetime-edit-year-field { color: #E0E0E0; }
