<div class="navbar-flex">
  <% if @current_user %>
    <%= link_to("Playlister", root_path, class: "navbar-logo") %>
    <div class="hoverbar">
      <p>Hello  <%= @current_user.display_name %></p>
      <div class="hide-init">
        <%= link_to("home", root_path) %>
        <%= link_to("logout", logout_path, method: :post) %>
      </div>
    </div>
  <% end %>
</div>
